/* presets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --SoftWhite: #F7F7F7;
    --CharcoalGray: #333333;
    --MediumGray: #666666;
    --SoftBlue: #1E90FF;
    --LightGray: #F0F0F0;
    --SkyBlue: #87CEEB;
    --DeepSkyBlue: #00BFFF;
    --BorderColor:#F5F5F5;
    --PaleLavender: #EDE7F6;
    --SoftPurple:	#B39DDB;
    --MagentaPink:	#E91E63;
}

@font-face {
    font-family: Playfair Display;
    src: url(assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(assets/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: Lato;
    src: url(assets/fonts/Lato/Lato-Regular.ttf);
}

/* fonts utilization*/
h1, h2, h3, strong, li{
    font-family: Lato;
}

.header-content p, .post-card-title, .post-card-btn, a, footer p, footer li a{
    font-family: Raleway;
}

.post-card-description, .post-card-date, #post > .post-container p{
    font-family: Lato;
}

a.link, a{
    color: var(--SoftBlue);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
}

a.link:hover, a.link.current{
    opacity: 0.7;
}

.blog, #post{
    background-color: var(--SoftWhite);
}

/* Styling the blog */
/* header styles */
.blog-header{
    height: 50vh;
}

/* navigation styles */
.blog-nav{
   display: flex;
   padding: 1.5vh 5vw;
   align-items: center;
   background-color: var(--BorderColor);
   border-bottom: 2px solid var(--LightGray);
}

.logo-box {
    margin-right: auto;
}

.logo-box img{
    width: 128px;
    height: 48px;
}

.toggle{
    display: none;
}

.links-all{
    display: flex;
    gap: 12vw;
}

.links-all > .links-box{
    display: flex;
    align-items: center;
    gap: 3vw;
}

.register-box{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.register-box a{
    color: var(--CharcoalGray);
    padding: 7.5px 10px;
    background-color: var(--SoftBlue);
}

.register-box a:hover{
    background-color: var(--DeepSkyBlue);
}

.register-box .login{
    background-color: var(--SoftWhite);
    border: 1px solid var(--DeepSkyBlue);
}


/* header content*/
.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    margin: 10vh 1em 0;
    padding-bottom: 10vh;
    border-bottom: 1px solid var(--MediumGray);
}

.header-content p, p{
    font-size: 20px;
}

.header-content p, .header-content h1, h1, h2, h3, p, strong, li{
    color: var(--CharcoalGray);
}

.header-content > .cta, footer .cta{
   display: flex;
   justify-content: center;
   width: fit-content;
   min-width: calc(35% * 320px);
   gap: 1vw;
   margin-top: 2vh;
}

.cta input{
    padding: 7.5px 1em;
    border: 1px solid var(--SkyBlue);
}

.cta input:focus{
    outline: 1px solid var(--DeepSkyBlue);
}

/* blog post card styles */
.post-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--MediumGray);
    border: 1px solid var(--palette3);
    border-radius: 1em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 1em;
}

.post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.post-card-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.post-card-content {
    padding: 1em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.post-card-title {
    font-size: calc(18 / 16em);
    font-weight: 700;
    margin: 0;
    color: var(--BorderColor);
}

.post-card-description {
    font-size: calc(14em / 16);
    line-height: 1.6;
    color: var(--SoftWhite);
}

.post-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.post-card-date {
    font-size: calc(12em / 16);
    color: var(--SoftPurple);
}

.post-card-btn{
    background-color: var(--MagentaPink);
    color: var(--BorderColor);
    font-size: 12px;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-card-btn:hover{
    background-color: var(--MediumGray);
    border: 1px solid var(--MagentaPink);
}

/*post links */
main.blog-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-top: 10vh;
}

.recent-posts{
    display: grid;
    grid-template-areas: "h1  h1 ."
                         "a  a  b"
                         "a  a  c"
                         "e  e  d";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px repeat(3, 50vh);
    row-gap: 20px;
    max-width: 1024px;
}

.recent-posts > h1{
    grid-area: h1;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--MediumGray);
}

.recent-posts > .post-card.a{
    grid-area: a;
    img{
        height: 76.5%;
    }
}

.recent-posts > .post-card.b{
    grid-area: b;
}

.recent-posts > .post-card.c{
    grid-area: c;
}

.recent-posts > .post-card.d{
    grid-area: d;
}

.recent-posts > .post-card.e{
    grid-area: e;
}

/* footer styles  */
footer{
    background-color: var(--MediumGray);
    margin-top: 15vh;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

footer .logo-box{
    margin-right: 0;
}

footer .bottom-footer, footer .footer-media, footer .footer-links, footer .bottom-footer{
    display: flex;
}

footer .footer-media{
    margin-bottom: 1em;
}

footer .footer-media{
    gap: 2em;
}

footer .footer-links{
    gap: 1em;
    margin-bottom: 1em;
}

footer .footer-links a{ 
    color: var(--SoftWhite);
}

footer .bottom-footer > *:not(:last-child), footer .footer-links a:not(:last-child){
    border-right: 1px solid var(--BorderColor);
    padding-right: 1em;
}

footer .footer-media img{
    width: 2em;
}

footer .bottom-footer{
    align-items: center;
    gap: 1em;
}

footer .bottom-footer a{
    color: var(--SoftWhite);
    font-weight: lighter;
    font-size: small;
}

footer .bottom-footer a:nth-child(n+2){
    color: var(--SoftBlue);
    font-weight: bold;
}

/* Styling the post */
#post > .post-container{
    margin: 0 5vw;
    padding-bottom: 1em;
    background-color: var(--CharcoalGray);
}

#post h1, #post h2, #post h3, #post strong, #post p{
    color: var(--SoftWhite);
    padding-bottom: 1em;
}

#post h3, #post strong{
    padding-bottom: 0.5em;
}

#post nav ul {
    margin-left: 4em;
}

#post ul a{
    color: var(--DeepSkyBlue);
}

#post ul li{
    color: white;
}

#post > .post-container header h1{
    font-family: Playfair Display;
    border-bottom: 2px solid var(--LightGray);
    padding: 0.5em 0;
    margin: 0.5em;
    font-size: 3em;
}

#post > .post-container header img{
    width:75%;
    scale: 0.9;
    height: 500px;
    border-radius: 10px;
}

#post > .post-container p{
    font-family: Lato;
}

#post > .post-container > :nth-child(n+2),
#post > .post-container > :nth-child(n+3),
#post > .post-container > :nth-child(n+4),
#post > .post-container > :nth-child(n+5),
#post > .post-container > :nth-child(n+6){
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border: 1px dashed white;
}

#post  .section {
    padding: 1em 0;
}

#post .section img{
    width: 50%;
    height: 300px;
    border-radius: 10px;
    padding-bottom: 0.75em;
}

#post li.section{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1em;
}

#post li.section img{
    width: 40%; 
    order: 2;
}

#post li.section p{
    width: 60%; 
}

/* Responsive Blog Page */
@media(max-width: 700px) {
    .blog-nav{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
        width: 100vw;
        height: 60px;
        overflow: hidden; /* Prevent content from showing when collapsed */
        transition: height 0.3s ease; /* Smooth transition */
    }

    .links-all{
        display: none;
        opacity: 0;
    }

    .blog-nav.expanded .toggle, .blog-nav .toggle, 
    .blog-nav.expanded .logo-box, .blog-nav .logo-box{
        display: block;
        width: 10%;
    }

    .blog-nav.expanded {
        height: 50vh; /* Height when expanded */
    }
    
    .blog-nav.expanded .links-all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        width: 80%;
        opacity: 1;
        transform: translateY(35px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .blog-nav.expanded > .links-all > .links-box, 
    .blog-nav.expanded > .links-all > .register-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .blog-nav.expanded > .toggle, .blog-nav.expanded > .logo-box{
        transform: translateY(calc(-25vh - 35px + 48px + 30px));
    }
    
    .recent-posts{
        display: block;
    }

    .recent-posts > h1{
        padding: 0.5em;
        margin-top: 2em;
        border-bottom: 2px solid var(--MediumGray);
    }
    
    .post-card:not(:first-child){
        height: 60vh;
    }

    .recent-posts > .post-card.a > img{
        height: 50%;    
    }

    .header-content{
        padding: 18vh 0.5em 14vh;
        margin: 0 2em 0 0;
    }

    .post-card-content {
        padding: 0.6em;
    }

    /**/
    #post > .post-container{
        padding-top: 10vh;
    }

    #post  .section img{
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }

    #post li.section img, #post > .post-container header img{
        width: 100%;
        scale: 1;
        height: 300px;
    }

    #post > .post-container header img{
        height: 400px;
        border-radius: 10px;
    }

    #post li.section{
        align-items: flex-start;
        flex-direction: column;
    }

    #post li.section img, #post li.section p{
        width: 100%; 
        order: 1;
    }
    
}